{% extends 'base.html' %}

{% block contenido %}
    <h1>Listado de Cursos</h1>
    <hr>
    <ul>
    {% for curso in object_list %}
        <li>
            {{ curso.nombre }}
            <a href="{% url 'alumnos_curso_list' curso=curso.pk %}"><button type="button" class="btn btn-outline-primary btn-sm"">lista</button></a>
        </li>


            {% comment %} <div class="date">
                <p>Nacimiwentro: {{ alumnos.fecha_nacimiento }}</p>
            </div> {% endcomment %}

            {% comment %} <p>{{ post.text|linebreaksbr }}</p> {% endcomment %}

    {% endfor %}
    </ul>
{% endblock %}
