{% extends 'base.html' %}

{% block contenido %}
    <h1>Listado de Alumnos</h1>
    <a href="{% url 'alumnos_new' %}"><button type="button" class="btn btn-primary">Nuevo</button></a>
    <br>
    <hr>
    <ul>
    {% for alumno in Alumnos %}
        <li>
            {{ alumno.apellidos }}, {{ alumno.nombres }}
            {% comment %} {{ alumno.curso }} {% endcomment %}
            {{ alumno.aprobado }} 
            <a href="{% url 'alumnos_detail' pk=alumno.pk %}"><button type="button" class="btn btn-outline-primary btn-sm"">ver</button></a>
            <a href="{% url 'alumnos_edit' pk=alumno.pk %}"><button type="button" class="btn btn-outline-success btn-sm"">editar</button></a>
            <a href="{% url 'alumnos_remove' pk=alumno.pk %}"><button type="button" class="btn btn-outline-danger btn-sm">borrar</button></a>

        </li>


            {% comment %} <div class="date">
                <p>Nacimiwentro: {{ alumnos.fecha_nacimiento }}</p>
            </div> {% endcomment %}

            {% comment %} <p>{{ post.text|linebreaksbr }}</p> {% endcomment %}

    {% endfor %}
    </ul>
{% endblock %}
