{% extends 'base.html' %}

{% block contenido %}
    <h2>Edicion de Alumno</h2>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Grabar</button>
    </form>
{% endblock %}
