{% extends "base.html" %}

{% block contenido %}

    <a href="{% url 'alumnos_list' %}">
        <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary">Listado</button>
        </div>
    </a>
    <h2>{{ Alumno.apellidos }}, {{ Alumno.nombres }}  </h2>
    <hr>
    Curso: {{Alumno.curso}}<br>
    DNI: {{Alumno.dni}}<br>
    Fecha Nacimiento: {{Alumno.fecha_nacimiento|date}}<br>
    <br>
    Observaciones:<br>
    <p>{{ Alumno.observaciones|safe }}</p><br>
    {% comment %} Aprobado: {{Alumno.aprobado}} {% endcomment %}
    <br><br>

    {% if not Alumno.aprobado %}
        <a href="{% url 'alumnos_aprobar' pk=Alumno.pk %}">
            <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-success">Aprobar</button>
            </div>
        </a>
    {% endif %}

    <br>
    <a href="{% url 'alumnos_edit' pk=Alumno.pk %}">
        <div class="d-grid gap-2">
        <button type="button" class="btn btn-warning">Editar</button>
        </div>
    </a>

{% endblock %}
