{% extends "base.html" %}


{% block contenido %}
    <h2> Sistema de administración de colegios </h2>
    <br>
    <a href="{% url 'alumnos_list' %}">
        <div class="d-grid gap-2">
        <button type="button" class="btn btn-outline-primary">Listado de Alumnos</button>
        </div>
    </a>
    <a href="/alumnos/list" class="link-primary">Alumnos</a>
    <br>
    <a href="{% url 'cursos_list' %}">
        <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary">Listado de Cursos</button>
        </div>
    </a>
    <br>
    <a href="/alumnos/1/curso" class="link-secondary">1° Grado</a> <br>
    <a href="/alumnos/2/curso" class="link-success">2° Grado</a> <br>
    <a href="/alumnos/4/curso" class="link-warning">3° Grado</a> <br>
    
{% comment %} 
    <a href="/alumnos/1A/curso" class="link-secondary">1° Grado</a> <br>
    <a href="/alumnos/2A/curso" class="link-success">2° Grado</a> <br>
    <a href="/alumnos/3A/curso" class="link-warning">3° Grado</a> <br> 
{% endcomment %}

{% endblock %}
